.compose {
    padding: 20px;
}

.input-boxes {
    margin-bottom: 15px;
}

.input-boxes input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.editor {
    /* margin: 2%; */
    border: 1px solid rgb(214, 209, 209);
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
    border-radius: 12px;
    padding: 10px;
    height: 50vh;
    margin-bottom: 15px;
    min-height: 400px;
}

.toolbarClassName {
    border-bottom: 1px solid #ccc;
}

.wrapperClassName {
    /* border: 1px solid #ccc; */
    border-radius: 4px;
}

.editorClassName {
    min-height: 34vh;
}

.compose-button {
    /* display: flex; */
    /* justify-content: center; */
    text-align: right;
}

.compose-button button {
    background-color: #046ed7;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
}