.inbox-mails {
    background: rgb(222, 222, 227);
    margin-top: 45px;
    height: 85vh;
    width: 157vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* .filter-count {

} */

.inbox-filter {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-right: 0;
    width: 10%;
    max-height: 8vh;
    border-radius: 5px;
}

.mail-count {
    position: relative;
    text-align: right;
    margin: 20px;
    color: rgb(55, 55, 238);
    font-size: large;
}

.inbox-mail {
    border-bottom: 1px solid rgb(177, 172, 172);
    margin-top: 8px;
    margin-bottom: 0;
    padding: 5px;
    transition: background-color 0.3s ease; 
}

.sender-mail {
    font-size: large;
}

.subject-message{
    margin-left: 4vh;
    font-family: sans-serif;
    font-size: large;
    position: relative;
    left: 13vh;
}