.sent-mails {
    background-color: rgb(250, 250, 250);
    margin-top: 45px;
    height: 100%;
    min-height: 85vh;
    width: 157vh;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sent-count {
    position: relative;
    text-align: right;
    margin: 20px;
    color: rgb(55, 55, 238);
    font-size: large;
}

.sent-mail {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(177, 172, 172);
    padding: 5px;
    transition: background-color 0.3s ease; 
    max-height: 3rem;
}

.sent-mail:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.549);
    background: rgb(245, 245, 245);
}

.recep-mail {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
}

.subject-message{
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #555;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.subject-message span {
    font-weight: normal;
}

.list-style {
    list-style: none;
}

.full-sent-msg {
    padding: 12px;
}

.full-sent-msg button {
    margin-bottom: 15px;
    cursor: pointer;
    padding: 3px;
    margin-left: 3%;
    border-radius: 5px;
    font-size: large;
}

.full-sent-msg-detail {
    background: rgb(214, 212, 212);
    width: 45vh;
    border-radius: 8px;
    border: 0.5px solid;
    padding: 10px;
    margin-top: 2vh;
    margin-bottom: 5vh;
    font-size: larger;
}

.inner-sent-msg {
    font-size: larger;
    max-width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 10px;
}



@media (max-width: 768px) {
    .sent-mail {
        flex-direction: column;
        align-items: flex-start;
    }

    .subject-message {
        margin-left: 0;
    }
}